<html>
<title>Poni API</title>
<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon"
      type="image/png"
      href="https://img.icons8.com/metro/1600/horse.png">
</head>
<style>
body{
  font-family: arial;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/112/699/original/horse-pattern-vector.jpg");
}
img {
  border-radius: 50%;
  border: 20px solid white;
    box-shadow: 3px 3px 5px grey;
}
img.kulmat {
    border-radius: 0%;
  border: 20px solid white;
    box-shadow: 3px 3px 5px grey;
}
div.wrapper{
  border: 20px solid #9AA9AC;
  background-color: #CEC2B6;
  width: 50%;
  padding: 20px;
  margin: auto;
      box-shadow: 3px 3px 5px grey;
}
div.ohjeet{
  background-color: #FFF2E2;
  width: 80%;
  padding: 20px;
  margin: auto;
      box-shadow: 3px 3px 5px grey;
}

</style>
<div class=wrapper>
  <center>
    <body>
<img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/10/11/14/shetland-foal-pony.jpg?w968h681
" alt="Smiley face" height="200">
<h1>Hanhi soikoon!</h1>
<h2>Tältä sivulta löydät ihanan poniaiheisen REST API:n, jossa tietokantakutsut ovat MONGOOSELLA TEHTY!!</h2>
</center>
<div class=ohjeet>
<h3> Näin se toimii: </h3>
<p> GET -pyyntöjä voidaan testata selaimessa, muihin tarvitset esimerkiksi Postman -ohjelman.<br><br>
<a href="/kaikki">/kaikki</a> - Näytä kaikki ponit <br>
<a href="/tiettyponi">/tiettyponi</a> - Näytä yksi poni, jonka id on tasan 10 <br>
/lisaa - Lisää uusi poni, nimeltä Zildjian <br>
/paivita - Yhden ponin nimeksi muutetaan Mika! <br>
/poista - Yksi Mika -niminen poni poistetaan! <br>
</p>


</div>
<br><center>
<h1>  Ponimaista (... ja hanhi-) päivänjatkoa! </h1>
<img src="http://photos.jibble.org/Places/England/The%20New%20Forest%20in%20Hampshire/New_Forest_Baby_Pony_Running_Gallop_IMG_3774.jpg
" alt="Smiley face" height="200">


</body>
</div>
</html>
